    <div class="main-container">
        <div class="hero">
            <div class="gradient"></div>
            <div class="special-layer"></div>
            <div class="bg-1"></div>
            <div class="online-payments">
                <span class="easy-and-safe">Легкие <br /></span>
                <span class="safe-online-payments">и безопасные <br /></span>
                <span class="online-payments-2">онлайн-платежи</span>
            </div>
            <div class="image"></div>
            <span class="companies-usage">
                Миллионы компаний всех размеров используют Наш сервис онлайн и лично
                для приема платежей, отправки выплат, автоматизации финансовых
                процессов и увеличения доходов.
            </span>
            <div class="special-layer-3"></div>
            <div class="group">
                <span class="get-started">Начать сейчас</span>
                <div class="rectangle"></div>
            </div>
        </div>
        
        <div class="flex-row-ccad">
            <div class="figure"></div>
            <div class="figure-4">
                <div class="svg">
                    <div class="frame">
                        <div class="vector"></div>
                    </div>
                </div>
                <div class="div-a"><div class="div-b"></div></div>
                <div class="svg-d">
                    <div class="frame-e"><div class="vector-f"></div></div>
                </div>
                <div class="svg-10">
                    <div class="frame-11"><div class="group-12"></div></div>
                </div>
                <div class="svg-13">
                    <div class="frame-14"><div class="vector-15"></div></div>
                </div>
            </div>
            <div class="div-28">
                <div class="radar-fraud-visual-home-en-us"></div>
            </div>
            <div class="content-right">
                <span class="collaborate-with-tea">Полностью интегрированный набор платежных продуктов</span>
                <span class="common-trends">
                    Мы объединяем все, что требуется для создания веб-сайтов и
                    приложений, которые принимают платежи и отправляют выплаты по всему
                    миру. Продукты Stripe позволяют осуществлять платежи онлайн и лично
                    розничным продавцам, компаниям, занимающимся подпиской, программным
                    платформам и маркетплейсам, а также всему, что находится между
                    ними.
                </span>
                <div class="copy"></div>
            </div>
            <div class="figure-29"></div>
        </div>

        <div class="flex-row-2a">
            <div class="card">
                <div class="content">
                    <div class="text">
                        <span class="text-content">
                            1<br />2<br />3<br />4<br />5<br />6<br />7<br />8<br />9<br />10<br />11<br />12<br />13<br />14<br />15<br />16<br />17<br />18<br />19<br />20<br />21<br />22<br />23<br />24<br />25<br />26<br />27<br />28
                        </span>
                        <div class="text-2b">
                            <span class="console">console</span><span class="dot">.</span>
                            <span class="log">log</span><span class="dot-2c"> </span>
                            <span class="character-set">"oO08 iIlL1 g9qCGQ ~-+=>"</span>
                            <span class="dot-2d">; <br /></span>
                            <span class="line-break"><br /></span>
                            <span class="dot-2e"> <br /></span>
                            <span class="function">function</span>
                            <span class="dot-2f"> </span>
                            <span class="parentheses">updateGutters</span>
                            <span class="dot-30">(</span>
                            <span class="parentheses-31">cm</span>
                            <span class="dot-32">) <br /> </span>
                            <span class="function-33">var</span>
                            <span class="dot-34"> </span>
                            <span class="parentheses-35">gutters</span>
                            <span class="dot-36"> = </span>
                            <span class="parentheses-37">cm</span>
                            <span class="dot-38">.</span><span class="log-39">display</span>
                            <span class="dot-3a">.</span><span class="log-3b">gutters</span>
                            <span class="dot-3c">, <br /> </span>
                            <span class="parentheses-3d">__specs</span>
                            <span class="dot-3e"> = </span>
                            <span class="parentheses-3f">cm</span>
                            <span class="dot-40">.</span><span class="log-41">options</span>
                            <span class="dot-42">.</span><span class="log-43">gutters</span>
                            <span class="dot-44">; <br /><br /></span>
                            <span class="console-45">removeChildren</span>
                            <span class="dot-46">(</span>
                            <span class="parentheses-47">gutters</span>
                            <span class="dot-48">); <br /><br /></span>
                            <span class="function-49">for</span>
                            <span class="dot-4a"> (</span>
                            <span class="function-4b">var</span>
                            <span class="dot-4c"> </span>
                            <span class="parentheses-4d">i</span>
                            <span class="dot-4e"> = </span><span class="var">0</span>
                            <span class="dot-4f">; </span>
                            <span class="parentheses-50">i</span>
                            <span class="dot-51"> </span>
                            <span class="console-52">specs</span>
                            <span class="dot-53">.</span><span class="log-54">length</span>
                            <span class="dot-55">; ++</span>
                            <span class="parentheses-56">i</span>
                            <span class="dot-57">) <br /> </span>
                            <span class="function-58">var</span>
                            <span class="dot-59"> </span>
                            <span class="parentheses-5a">gutterClass</span>
                            <span class="dot-5b"> = </span>
                            <span class="parentheses-5c">__specs</span>
                            <span class="dot-5d">[</span>
                            <span class="parentheses-5e">i</span>
                            <span class="dot-5f">]; <br /> </span>
                            <span class="function-60">var</span>
                            <span class="dot-61"> </span>
                            <span class="parentheses-62">gElt</span>
                            <span class="dot-63"> = </span>
                            <span class="parentheses-64">gutters</span>
                            <span class="dot-65">.</span>
                            <span class="log-66">appendChild</span>
                            <span class="dot-67">( <br /> </span>
                            <span class="console-68">elt</span>
                            <span class="dot-69">( <br /> </span>
                            <span class="character-set-6a">"div"</span>
                            <span class="dot-6b">, <br /> </span>
                            <span class="var-6c">null</span>
                            <span class="dot-6d">, <br /> </span>
                            <span class="character-set-6e">"CodeMirror-gutter "</span>
                            <span class="dot-6f"> + </span>
                            <span class="parentheses-70">gutterClass <br /></span>
                            <span class="dot-71">
                              ) <br />
                            ); <br /> </span>
                            <span class="function-72">if</span>
                            <span class="dot-73"> (</span>
                            <span class="parentheses-74">gutterClass</span>
                            <span class="dot-75"> == </span>
                            <span class="character-set-76">"CodeMirror-linenumbers"</span>
                            <span class="dot-77">) <br /> </span>
                            <span class="parentheses-78">cm</span>
                            <span class="dot-79">.</span><span class="log-7a">display</span>
                            <span class="dot-7b">.</span>
                            <span class="log-7c">lineGutter</span>
                            <span class="dot-7d"> = </span>
                            <span class="parentheses-7e">gElt</span>
                            <span class="dot-7f">; <br /> </span>
                            <span class="parentheses-80">gElt</span>
                            <span class="dot-81">.</span><span class="log-82">style</span>
                            <span class="dot-83">.</span><span class="log-84">width</span>
                            <span class="dot-85"> = (</span>
                            <span class="parentheses-86">cm</span>
                            <span class="dot-87">.</span><span class="log-88">display</span>
                            <span class="dot-89">.</span>
                            <span class="log-8a">lineNumWidth</span>
                            <span class="dot-8b"> || </span>
                            <span class="character-set-8c">1</span>
                            <span class="dot-8d">) + </span>
                            <span class="character-set-8e">"px"</span>
                            <span class="dot-8f">; <br />
                             <br />
                             <br /> </span>
                            <span class="parentheses-90">gutters</span>
                            <span class="dot-91">.</span><span class="log-92">style</span>
                            <span class="dot-93">.</span><span class="log-94">display</span>
                            <span class="dot-95"> = </span><span class="console-96">i</span>
                            <span class="dot-97"> ? </span>
                            <span class="character-set-98">""</span>
                            <span class="dot-99"> : </span>
                            <span class="character-set-9a">"none"</span>
                            <span class="dot-9b">; <br /> </span>
                            <span class="console-9c">updateGutterSpace</span>
                            <span class="dot-9d">(</span>
                            <span class="parentheses-9e">cm</span>
                            <span class="dot-9f">); <br /><br /></span>
                            <span class="function-a0">return</span>
                            <span class="dot-a1"> </span><span class="var-a2">false</span>
                            <span class="dot-a3">; <br/></span>
                    </div>
                </div>
                <div class="group-a4">
                    <div class="button-a5">
                        <div class="icon-set">
                            <div class="clipboard-s"></div>
                        </div>
                    </div>
                    <div class="button-a6">
                        <div class="icon-set-a7">
                            <div class="arrows-out-simple">
                                <div class="vector-a8"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-left">
                <span class="text-8c">Самые мощные и простые в использовании API в мире</span>
                <div class="box-15">
                    <span class="text-8d">Инструменты для каждого стека</span>
                    <span class="text-8e">Мы предлагаем клиентские и серверные библиотеки на всех языках - от React и PHP до .NET и iOS.</span>
                </div>
                <div class="wrapper-d">
                    <span class="text-8f">Готовые интеграции</span>
                    <span class="unique-integration">Используйте интеграцию с такими системами, как Shopify, WooCommerce, NetSuite и другими.</span>
                </div>
            </div>
        </div>
        
        <div class="title">
            <span class="how-it-works">Как это работает?<br /></span>
            <span class="intuitive-system">
                С нашей интуитивно понятной системой вы можете легко интегрировать
                онлайн-платежи на ваш сайт всего в три простых шага.
            </span>
        </div>
        
        <div class="flex-row-aa">
            <div class="empty">
                <div class="number">
                    <span class="number-1">1</span>
                    <div class="oval"></div>
                </div>
                <span class="install-app">Зарегистрируйтесь</span>
                <span class="quick-registration">Пройдите быструю и простую регистрацию на нашей платформе.</span>
            </div>
            <div class="copy-a9">
                <div class="number-aa">
                    <span class="number-2">2</span>
                    <div class="oval-ab"></div>
                </div>
                <span class="add-team-members">Настройте параметры</span>
                <span class="payment-parameters">Настройте платежные параметры в соответствии с потребностями.</span>
            </div>
            <div class="copy-ac">
                <div class="number-ad">
                    <span class="number-3">3</span>
                    <div class="oval-ae"></div>
                </div>
                <span class="start-rolling">Начните пользоваться!</span>
                <span class="launch-site">Запустите ваш сайт и начните принимать платежи от клиентов.</span>
            </div>
            <div class="line"></div>
            <div class="line-copy"></div>
        </div>
        
        <div class="bg-af">
            <div class="layer"></div>
            <div class="oval-b0"></div>
            <div class="path"></div>
        </div>
        
        <div class="testimonial">
            <div class="dots">
                <div class="group-b1"></div>
                <div class="flex-row-ca">
                    <div class="fill"></div>
                    <div class="fill-b2"></div>
                    <div class="fill-b3"></div>
                    <div class="fill-b4"></div>
                    <div class="fill-b5"></div>
                    <div class="fill-b6"></div>
                    <div class="fill-b7"></div>
                </div>
                <div class="group-b8"></div>
                <div class="flex-row-df">
                    <div class="fill-b9"></div>
                    <div class="fill-ba"></div>
                    <div class="fill-bb"></div>
                    <div class="fill-bc"></div>
                    <div class="fill-bd"></div>
                    <div class="fill-be"></div>
                    <div class="fill-bf"></div>
                </div>
                <div class="flex-row-c0">
                    <div class="fill-c1"></div>
                    <div class="fill-c2"></div>
                    <div class="fill-c3"></div>
                    <div class="fill-c4"></div>
                    <div class="fill-c5"></div>
                    <div class="fill-c6"></div>
                    <div class="fill-c7"></div>
                </div>
                <div class="group-c8"></div>
                <div class="flex-row-c9">
                    <div class="fill-ca"></div>
                    <div class="fill-cb"></div>
                    <div class="fill-cc"></div>
                    <div class="fill-cd"></div>
                    <div class="fill-ce"></div>
                    <div class="fill-cf"></div>
                    <div class="fill-d0"></div>
                </div>
                <div class="group-d1"></div>
                <div class="group-d2"></div>
                <div class="flex-row-f">
                    <div class="fill-d3"></div>
                    <div class="fill-d4"></div>
                    <div class="fill-d5"></div>
                    <div class="fill-d6"></div>
                    <div class="fill-d7"></div>
                    <div class="fill-d8"></div>
                    <div class="fill-d9"></div>
                </div>
                <div class="group-da"></div>
                <div class="flex-row-db">
                    <div class="fill-dc"></div>
                    <div class="fill-dd"></div>
                    <div class="fill-de"></div>
                    <div class="fill-df"></div>
                    <div class="fill-e0"></div>
                    <div class="fill-e1"></div>
                    <div class="fill-e2"></div>
                </div>
                <div class="flex-row-b-e3">
                    <div class="fill-e4"></div>
                    <div class="fill-e5"></div>
                    <div class="fill-e6"></div>
                    <div class="fill-e7"></div>
                    <div class="fill-e8"></div>
                    <div class="fill-e9"></div>
                    <div class="fill-ea"></div>
                </div>
                <div class="group-eb"></div>
                <div class="flex-row-ed">
                    <div class="fill-ec"></div>
                    <div class="fill-ed"></div>
                    <div class="fill-ee"></div>
                    <div class="fill-ef"></div>
                    <div class="fill-f0"></div>
                    <div class="fill-f1"></div>
                    <div class="fill-f2"></div>
                </div>
                <div class="group-f3"></div>
                <div class="flex-row-ada">
                    <div class="group-f4"></div>
                    <div class="group-f5"></div>
                    <div class="group-f6"></div>
                    <div class="group-f7"></div>
                    <div class="group-f8"></div>
                    <div class="group-f9"></div>
                    <div class="group-fa"></div>
                    <div class="group-fb"></div>
                </div>
            </div>
            <div class="flex-column-b">
                <span class="remote-teams-h">+1,749 команд поделились своим опытом использования нашего сервиса!</span>
                <div class="list">
                    <div class="group-10">
                        <div class="rectangle-fc"></div>
                        <span class="omg">“Невероятно! Не могу поверить, что настройка нашего интернет-магазина заняла всего несколько минут. Все было просто и понятно.”</span>
                        <div class="oval-fd"></div>
                        <span class="isaac-olson">Алексей Смирнов</span>
                    </div>
                    <div class="copy-fe">
                        <div class="rectangle-ff"></div>
                        <span class="simply-the-best">“Это лучший сервис для приема онлайн-платежей. Подходит как для начинающих, так и для опытных пользователей, стремящихся к успеху.”</span>
                        <div class="oval-100"></div>
                        <span class="barry-young">Михаил Иванов</span>
                    </div>
                    <div class="copy-101">
                        <div class="rectangle-102"></div>
                        <span class="must-have-book">“Обязательный инструмент для любого бизнеса, который хочет принимать платежи онлайн быстро и безопасно.”</span>
                        <div class="oval-103"></div>
                        <span class="esther-allison">Ирина Петрова</span>
                    </div>
                </div>
                <div class="button-flat-style">
                    <div class="button-104">
                        <span class="button-name-105">Все отзывы</span>
                        <div class="tail-right"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="wrapper-17">
            <div class="flex-column">
                <div class="line-copy-106"></div>
                <div class="social">
                    <div class="logo-facebook"><div class="path-107"></div></div>
                    <div class="logo-instagram"></div>
                    <div class="logo-linkedin"><div class="shape"></div></div>
                    <div class="logo-twitter"><div class="path-108"></div></div>
                </div>
                <div class="path-109"></div>
            </div>
            <span class="copyright-all-right-reserved">© 2024 Copyright, All Right Reserved, Made by Ilya Yugai with</span>
        </div>
        
        <div class="back-test"></div>
    </div>